.promo-section {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url('../../../public/emc-ramadangeneric-revised-d.png') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  padding: 2%;
  box-sizing: border-box;
}

.promo-text {
  max-width: 600px;
}

.Ramadan{
  font-size: 36px;
    font-family: "AdineuePRO", sans-serif;
    line-height: 1.1;
    font-weight: 800;
    letter-spacing: 1.29px;
    margin-bottom: 8px;
    color: #fff;
}

p {
  margin-bottom: 0;
  font-size: 18px;
  letter-spacing: normal;
}

.buttons {
  margin: 20px 0;
}


.buttons .btn {
  border-radius: 0;
  background-color: #fff;
    border-color: #fff;
    color: #000;
    padding: 10px 20px;
}

@media (max-width: 768px) {
  .promo-section {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .buttons {
    flex-direction: column;
    gap: 15px;
  }
}


.pop-title{
  margin: 80px 0 15px;
  font-family: 'AdineuePRO', sans-serif;
  font-weight: bold;
  font-size: 32px;
  letter-spacing: normal;
  line-height: 40px;
  color: #111111;
  text-align: left;
  text-transform: uppercase;

}

.roeAll{
  padding: 0 10px;
  max-width: 100%;
  width: 100%;
}

.divInside{
  margin-bottom: 20px;
  /* border-bottom: 1px solid #000; */
  padding: 20px 0;
}

.likwdith{
  font-family: "AdineuePRO", sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #000;
  line-height: 16px;
  border-bottom: 1px solid #000;
  letter-spacing: 1px;
  text-transform: none;
  justify-content: left;
  letter-spacing: normal;
  margin-bottom: 0;
  line-height: 36px;
  padding: 15px 0;
  margin-right: 14px;
}

.likwdith:hover{
  border-bottom: 8px solid #000;
  transform: translateY(-4px);
}

.promo-btn {
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 32px !important;
  font-weight: bold;
  border-radius:none!important;
}


/* //homepag1 */

.adidas-slider {
  width: 98%;
  margin: 0 auto;
  overflow: hidden;
}

.section-title {
  margin-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #111;
  font-family: "AdineuePRO", sans-serif;
  font-weight: 800;
  letter-spacing: 1.15px;
  line-height: 38px;
  font-size: 32px;
}

.slider {
  display: flex;
  align-items: center;
  position: relative;
}

.arrow {
  border: 1px solid #a5a5a6;
  cursor: pointer;
  color: #a5a5a6;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #ffffff;
  width: 42px;
  height: 42px;
  display: flex;
  font-size: 28px;
  font-weight: 500;
  align-items: center;
  justify-content: center;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 0;
}
.slides-container {
  display: flex;
  overflow: hidden;
}

.slide {
  min-width: 26%;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.tpricedl{
  display: flex;
}
.slide img {
  width: 100%;
  background-color: #ebedee;
}

.discount-badge {
  position: absolute;
  bottom: 24%;
  left: 20px;
  background: #fff;
  color: #333;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  padding: 2px 2px 2px 2px;
}
.product-info {
  padding-left: 10px;
  margin-bottom: 20px;
  padding-bottom: 0;
}
.product-info h3 {
  font-size: 12px;
  color: #222;
  margin-top: 10px;
  text-transform: uppercase;
  line-height: 1.2;
  white-space: nowrap;
  overflow: hidden;
  font-weight: normal;
  width: 100%;
}
.price {
  color: #e32b2b;
  font-size: 12px;
  font-family: "AdihausDIN", sans-serif;
  text-transform: capitalize;
  font-weight: 700;
}

.old-price {
  text-decoration-color: #000!important;
  color: #b3b3b3;
  text-decoration: line-through;
  font-weight: 700;
  font-size: 12px;
  font-family: "AdihausDIN", sans-serif;
  margin-left: 10px;

}
.categorytype{
  color: #b3b3b3;
  font-weight: 700;
  font-size: 12px;
  font-family: "AdihausDIN", sans-serif;
}
.indicators {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 26px;
  height: 1px;
  background-color: #000;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
}

.dot.active {
  height: 8px;
  background-color: #000 !important;
  transform: translateY(-4px);
}
@media (max-width: 1024px) {
  .slide {
    min-width: 45%;
  }
}
@media (max-width: 600px) {
  .slide {
    min-width: 90%;
  }
  .arrow {
    font-size: 1.5rem;
  }
}



/* panner */
.membership-banner {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee635;
  padding: 70px 20px;
  direction: ltr;
  margin-bottom: 20px;
}

.button-container {
  margin-left: 20px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid black;
  box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.9);
  justify-content: center;
  line-height: 50px;
  min-height: 50px;
  padding: 0 21px;
  margin: 10px auto;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  min-width: 168px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 2px;
  font-family: "AdihausDIN", sans-serif;
}

.arrow-icon {
  margin-left: 10px;
  font-size: 18px;
}

.subscribe-btn:hover {
  transform: translate(3px, -3px);
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.9);
  color: #a5a5a6;
  .arrow-icon{
    visibility: hidden;
  }
}

.offer-text {
  text-transform: uppercase;
  font-size: 30px;
  /* letter-spacing: .5px; */
  font-family: "AdineuePRO", sans-serif;
  font-weight: 700;
  margin-right: 40px;
  color: #000;
}
